.form_control {
    padding: 1rem;
    cursor: pointer;
    border-radius: 0.5rem;
}

.label {
    display: inline-block;
    margin-bottom: 0.5rem;
}


.form_control:focus-within, .form_control:hover {
    outline: none;
    background-color: rgba(255, 255, 255, 0.1);
}

/* Any child of inputContainer have cursor pointer */
.form_control * {
    cursor: pointer;
}

.input {
    width: 100%;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: none;
    border: none;
    text-decoration: none;
    background-color: transparent;
}
.input:focus {
    outline: none;
}