.mainArea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}


.loginArea {
    border: 2px solid #2c2c2c;
    border-radius: 10px;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.sideActionLinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sideActionButton {
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: #515151;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 10px;
}

.inputField {
    width: 100%;
}

.registerMessage {
    font-size: 14px;
    color: #8b8b8b;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.registerMessage a {
    color: #5e5e5e;
    text-decoration: none;
}

.registerMessageError {
    font-size: 14px;
    color: #ff0000;
    margin-top: 10px;
}

.disabled {
    display: none;
}