.formInput {
    cursor: text;
    padding: 0.25rem 1rem;
    transition: all 0.4s ease-in-out;
    border-radius: 0.5rem;
}

.formInput:hover,
.formInput:focus-within {
    background-color: rgba(255, 255, 255, 0.1);
}

/* input in .formInput */
.formInput input{
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    background-color: transparent;  
    border-radius: 0;
}

/* input in .formInput that don't have .error */
.formInput input:not(.error) {
    outline: none;
    border: none;
}

.formInput input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.error {
    border: 1px solid red;
}